*.out
*.pdf

linux-6.8
linux-6.8-interval_vm

apache/httpd-2.4.62
apache/wrk
apache/results/*.csv
ds_benchmark/results/alloc/*.csv
ds_benchmark/results/find/*.csv
ds_benchmark/results/remove/*.csv
lmbench/bin
lmbench/results/x86_64-linux-gnu
lmbench/src/webpage-lm
lockstat/results/*.csv
metis/results/*.csv
microbench/results/f_mbench/*.csv
microbench/results/f_mfmbench/*.csv
microbench/results/mbench/*.csv
microbench/results/mfmbench/*.csv
psearchy/results/*.csv
